<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rebl</title>

    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
</head>
<body>

{% block body %}{% endblock %}

<script type="text/javascript" src="{{ asset('js/bundle.js') }}" charset="utf-8"></script>
</body>
</html>
